<nav class="navbar navbar-fixed-top">
    <div class="brand"><a href="#movies"><i class="fa fa-video-camera"></i></a></div>
    <div class="container-fluid">
        <form>
            <div class="input-group">
                <input class="form-control" data-searchbar="true" placeholder="Search for a movie…">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-search" data-searchbutton="true" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
</nav>
